.drama-detail {
  position: relative;
  min-height: 100vh;
  color: #fff;
  overflow: hidden;
  margin-left: 25%;
  margin-right: 25%;
}

.background {
  background-image: url(
    "https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExbjN2bjdwdWU1a2F5a20xZXF0bWtwMjIyM3V6ZGwxODg4NGJ4NzcyOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/B0tJHRaqTSSfGBIiQf/giphy.webp") !important;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 150vh;
  z-index: -1;
  position: absolute;
  filter: grayscale(80%);
}




.drama-content {
  position: relative;
  z-index: 2;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 5%;
  width: 50vw;
  margin-top: 20px;
  
}

.drama-poster{
  background-size: cover;
  width: 44.5vw;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  margin-bottom: 5%;
}

.drama-info {
  max-width: 600px;
  text-align: left;
  margin-bottom: 5%;
}


.badge{
  border:#cecece 1px solid;
  color: rgb(200, 200, 200);
}
.drama-heading {
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  display: inline-block;
}



.iframe-container {
  margin-top: 20px;
  text-align: center;
}

.iframe-container iframe {
  width: 100%;
  height: 500px;
  border: none;
}

.mt-5 {
  margin-top: 0 !important;
}