.btn-group{
    margin-left: 0;
  }
  /* 인기영화 슬라이더 스타일 */
  .popular-section .movie-card-slider {
    width: calc(25% - 20px); /* 슬라이더 내 카드의 크기 조절 */
    margin: 0 10px;
  }
  
  /* 인기영화 리스트 스타일 */
  #movie-list {
    display: flex;
    flex-wrap: wrap; /* 여러 줄에 걸쳐 카드를 배치하도록 설정 */
    gap: 16px; /* 카드 간의 간격 설정 */
    padding: 0;
    list-style: none;
    justify-content: center; /* 카드들을 가운데 정렬 */
  }
  
  #movie-list li {
    flex: 0 1 calc(20% - 16px); /* 카드가 한 줄에 5개 나오도록 설정 */
    margin: 8px; /* 카드 주위에 간격 추가 */
  }
  
  /* 트렌딩 섹션 스타일 */
  .trend-section .movie-card-slider {
    width: calc(25% - 20px); /* 슬라이더 내 카드의 크기 조절 */
    margin: 0 10px;
  }
  
  h3{
    color: #8b1717;
  }
  /* 공통 카드 스타일 */
  .movie-card {
    cursor: pointer;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .top-button:hover {
    background-color: #c82333;
  }