/* Navbar Styles */
.navbar {
    background-color: black !important;
    padding: 10px 60px 0 60px !important;
}

.navbar-brand {
    color: #ff0055;
    font-weight: bold;
    font-size: 2em;
}

.nav-link {
    color: #ff0055;
    font-size: 1.2em;
    margin-right: 20px; /* Right margin for spacing */
    cursor: pointer;
}

.nav-link:hover {
    color: #ffffff;
}

/* Flexbox for Login */
.navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
    width: 100%;
}

.login-link, .join-link { /* Common styles for login and join buttons */
    color: #ff0055 !important;
    font-weight: bold;
    font-size: 1em; /* Increased for visibility */
    border: 1px solid #ff0055;
    padding: 6px 14px;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.login-link:hover, .join-link:hover {
    background-color: #ff0055;
    color: #ffffff !important;
}

/* Dropdown Styles */
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    background-color: #000000;
    border: none;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    color: #ff0055;
    background-color: #000000;
}

.form-inline {
    display: flex;
}

.form-control {
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
}

.btn-group {
    margin-left: 20px;
}

